body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#commands {
    font-size: 48px;
    text-align: center;
    margin: 20px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

#stopButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}
